/* src/app/page.module.css */

/* --- Definisi Warna Kategori (DIMODIFIKASI) --- */
.colorBlue {
  @apply bg-blue-500;
}
.colorYellow {
  @apply bg-yellow-400;
}
.colorRed {
  @apply bg-red-400;
}
.colorGreen {
    @apply bg-green-500;
}

/* --- Layout Styles  */
.mainContainer {
  @apply p-4 md:p-8 font-sans;
  background-color: #ffffff;
  @apply max-w-7xl mx-auto; 
}

.header {
  @apply text-center mb-12;
}
.mainTitle {
  @apply text-4xl font-extrabold text-orange-700 mb-4;
}
.subTitle {
  @apply text-xl text-gray-700;
}

.roadmapContainer {
  @apply pb-4;
}

.roadmapGrid {
  @apply grid gap-4 gap-y-12;
  @apply grid-cols-1 sm:grid-cols-2 lg:grid-cols-4;
  @apply items-start; 
}

.semesterColumn {
  @apply flex flex-col;
}

.semesterHeader {
  @apply bg-purple-600 text-white p-3 py-2 shadow-md text-center;
  @apply rounded-lg;
  @apply w-full; 
}
.semesterTitle {
  @apply text-lg font-bold;
}
.semesterSKS {
  @apply text-sm;
}

.courseList {
  @apply space-y-2 pt-3;
}

.courseCard {
  @apply w-full p-4 rounded-lg text-white text-sm shadow-md cursor-pointer transition-transform hover:scale-105;
}