/* src/app/page.module.css */

/* --- Definisi Warna Kategori (DIMODIFIKASI) --- */
.colorBlue {
  @apply bg-blue-500;
}
.colorYellow {
  @apply bg-yellow-500;
}
.colorRed {
  @apply bg-red-400;
}
.colorGreen {
    @apply bg-green-500;
}

/* --- Layout Styles  */
.mainContainer {
  @apply p-4 md:p-8 font-sans;
  background-color: #ffffff;
  @apply max-w-7xl mx-auto; 
}

.header {
  @apply text-center mb-12;
}
.mainTitle {
  @apply text-3xl md:text-4xl font-extrabold text-blue-800 mb-4;
}
.subTitle {
  @apply text-lg md:text-xl text-blue-900;
}

.roadmapContainer {
  @apply pb-4;
}

.roadmapGrid {
  @apply grid gap-4;
  @apply gap-y-4 lg:gap-y-12; 
  @apply grid-cols-1 sm:grid-cols-2 lg:grid-cols-4;
  @apply items-start; 
}

.semesterColumn {
  @apply flex flex-col;
}

.semesterHeader {
 @apply bg-gradient-to-r from-blue-800 to-blue-700 text-white p-3 md:p-4 shadow-md;
  @apply rounded-lg;
  @apply w-full;
  @apply flex justify-between items-center; 
  @apply cursor-pointer transition-colors hover:bg-purple-700;
}
.semesterTitle {
  @apply text-base md:text-lg font-bold;
}
.semesterSKS {
  @apply text-xs md:text-sm;
}

.courseList {
  @apply space-y-2 pt-2 md:pt-3;
}

.courseCard {
  @apply w-full p-3 md:p-4 rounded-lg text-white text-sm shadow-md cursor-pointer transition-transform hover:scale-105;
}